/* P  p */

body {
     
    background: #7F7FD5;
	       background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  
      
      
  }
  
  footer, .navbar {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);
     background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);  
      color: white;
      font-family: 'Quicksand', sans-serif;

  
  }
  .navbar {
    border-bottom: 4px white solid;
  }
  footer {
    border-top: 4px white solid;
  }
  label {
      color: white;
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;

  }
  .navbar-brand {
      font-size: 25px;
  }
  
  .fixed-top {
  height: 5.5rem;
  }
  
  
  .container {
      margin-top: 8rem;
      margin-bottom: 5rem;
      width: 35rem;
      height: 32rem;
      background-color: rgba(0,0,0, 0.4);
      border-radius: 25px;
     
  
  }
  form {
      width: 30rem;
      margin: auto;
  }
  .emailHelp {
      color: rgb(211,211,211);
  }
  .btn-primary {
  
      background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
      background-color: white;
      border-color: white;
      
  }
  
  .middle {
  
      margin-left: 12rem;
  }
  
  .right {
      display: inline;
      float: left;
  }
  
  @media screen and (min-width: 200px) and (max-width: 640px) {
      .navbar-brand {
        font-size: 16px;
      }
    }